@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
    background-color: #39a2db;
    text-align: center;
  }

  h1 {
    font-family: Open Sans;
    font-size: 3pc;
    padding-top: 1rem;
    color: #053742;
    background-color: #a2dbfa;
    margin: 5rem auto;
    width: 20rem;
  }