@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  background-color: #39a2db;
}

header {
  background-color: #a2dbfa;
  margin: 5rem auto;
  text-align: center;
  height: 10rem;
  width: 55rem;
  box-shadow: 0px 5px 15px hsla(0, 0%, 0%, 0.239);
  border-radius: 5px;
}

header h1 {
  font-family: Open Sans;
  font-size: 3pc;
  padding-top: 1rem;
  color: #053742;
}

header h2 {
  font-family: Open Sans;
  font-size: 2pc;
  padding-top: 1rem;
  color: #053742;
}

nav {
  margin: 5rem 15rem 0rem 15rem;
  text-align: center;
}

nav a {
  background-color: #a2dbfa;
  display: block;
  box-shadow: 0px 5px 15px hsla(0, 0%, 0%, 0.239);
  border-radius: 5px;
  text-decoration: none;
  font-family: Open Sans;
  font-size: 1.5pc;
  padding: 1rem;
  margin: 1rem auto;
  width: 10rem;
  color: #053742;
  transition: 0.3s;
}

nav a:hover {
  background-color: white;
  color: #a2dbfa;
}

main {
  background-color: #a2dbfa;
  box-shadow: 0px 5px 15px hsla(0, 0%, 0%, 0.239);
  border-radius: 5px;
  margin: 7rem auto;
  padding: 4rem;
  height: 115rem;
  width: 60rem;
  text-align: center;
  font-size: 2pc;
  font-family: Open Sans;
  color: #053742;
}

main li {
    padding: 0.5rem;
}

main button {
  font-family: Open Sans;
  font-weight: bolder;
  font-size: 2pc;
  color: white;
  background-color: transparent;
  border-color: #053742;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  margin: 2rem;
}

main button:hover {
  background-color: white;
  color: #a2dbfa;
}

main p {
  padding: 1rem;
}

footer {
  font-family: Open Sans;
  font-size: 1.5pc;
  background-color: #a2dbfa;
  color: #053742;
  margin: 5rem auto;
  height: 10rem;
  width: 45rem;
  padding: 1rem;
  box-shadow: 0px 5px 15px hsla(0, 0%, 0%, 0.239);
  border-radius: 5px;
  text-align: center;
  user-select: none;
}

footer a {
  font-size: 1.5pc;
  font-weight: bold;
  color: #053742;
  text-decoration: none;
  padding: 1.5rem;
  transition: 0.3s;
  user-select: none;
}

footer p {
  padding: 1.5rem;
  user-select: none;
}

footer a:hover {
  color: #39a2db;
}
